@{
    ViewData["Title"] = "Index";
}
@model List<ProductViewModel>
<h1>Ürünler</h1>
@if (TempData["status"] != null)
{
    <div class="alert alert-primary" role="alert">
        @TempData["status"]
    </div>
}
<a asp-controller="Product" asp-action="Add">Ürün Ekle</a>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>İsim</th>
            <th>Fiyat</th>
            <th>Stok</th>
            <th>Renk</th>
            <th>Yayınlasın mı?</th>
            <th>Süre(Ay)</th>
            <th>Açıklama</th>
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Stock</td>
                <td>@item.Color</td>
                <td>
                    @(item.IsPublish ? "Evet" : "Hayır")
                </td>
                <td>@item.Expire</td>
                <td>
                    @(item.Description.Length > 20 ? item.Description.Substring(0, 20) + "..." : @item.Description)
                </td>
                <td>
                    <a asp-controller="Product" asp-action="Remove" asp-route-id="@item.Id">Sil</a>
                    <a asp-controller="Product" asp-action="Update" asp-route-id="@item.Id">Güncelle</a>
                    <a asp-controller="Product" asp-action="GetById" asp-route-id="@item.Id">Detay</a>
                </td>
            </tr>
        }
    </tbody>
</table>